{% extends 'base.html' %}

{% block head %}
<title>Location Manager</title>
{% endblock %}

{% block body %}

<h1>Locations Manager</h1>    


    {% if locations|length < 1  %}
    
    <h4>There are no items. Create one below!</h4>
    <form action="/locations/" method="POST">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Location</label>
                    <input type="text" name="location_name" id="location_name" placeholder="Enter Location Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="submit" value="Add Location">
                </div>
            </div>
        </div>    
    </form>
    {% else %}
    <h4>Add an location below!</h4>
    <form action="/locations/" method="POST">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Location</label>
                    <input type="text" name="location_name" id="location_name" placeholder="Enter Location Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="submit" value="Add Location">
                </div>
            </div>
        </div>    
    </form>
    <table>
        <tr>
            <th>Location</th>
            <th>Actions</th>
        </tr>

        {% for location in locations %}
        <tr>
            <td>{{ location.location_name }}</td>
            <td>
                {% if locations|length < 2 %}
                <a href="../updateLocation/{{location.location_id}}">Update</a>
                {% else %}
                <a href="../deleteLocation/{{location.location_id}}">Delete</a> <br>
                <a href="../updateLocation/{{location.location_id}}">Update</a>
                {% endif %}
                
            </td>
        </tr>
        {% endfor %}    




        
    </table>




    <tr>
        <a href="/">View Inventory</a>
    </tr>
    {% endif %}

{% endblock %}